*.app
*.exe
build/
dist/
node_modules/
react-ui/public/icons
apis/input_methods/icons
__pycache__/
bin/
out/
# IDE
.idea/
.vscode/

# Bytecode
__pycache__/

# Icons
react-ui/public/icons
apis/input_methods/icons
static/icons/
static/business_process_diagram*

# Build
node_modules/
*.app
out/
build/
dist/
lib/
*.spec

# MongoDB
mongo/mongo.server.log
mongo/db/

# Swimlane BPD Final Files
bpd
bpd.pdf

# Misc
.DS_Store