*.app
build/
dist/
node_modules/
react-ui/public/icons
apis/input_methods/icons
__pycache__/
bin/
out/
.idea/
.vscode/
static/icons/
static/business_process_diagram*

# Mongo folder
mongo/mongo_server_log.json
mongo/db/

# Swimlane BPD Final Files
bpd
bpd.pdf

react-ui/public/icons/
.DS_Store

# Flair
flair/
